<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">dialect.SQLiteDialect</property>
        <property name="hibernate.connection.url">jdbc:sqlite:LibSysDB.sqlite</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping resource="models/entity/Author.hbm.xml"/>
        <mapping resource="models/entity/Borrow.hbm.xml"/>
        <mapping resource="models/entity/Book.hbm.xml"/>
        <mapping resource="models/entity/Customer.hbm.xml"/>
        <mapping resource="models/entity/Genre.hbm.xml"/>
        <mapping resource="models/entity/SystemUser.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
